*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS, Verdana, Geneva, Tahoma, sans-serif;
    
}

header {
    padding: 0 5px;
}

header > h1 {
    font-size: 45px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 17px;
}

header > img {
    height: 250px; 
    width: 100%;
    padding: 0px;
    display: block;
    border: 2px solid black;    
}

nav{

    padding: 10px 10px;
    position: relative;
    top: -300px;
    left: calc(100% - 500px);
    
}

nav > a { 
    border: 2px solid black;
    box-shadow: 5px 5px rgb(179, 179, 179) ;
    padding: 10px;
    margin: 5px;
    background-color: rgb(0, 153, 255) ;
    color: white;
    text-decoration: none;
}

.activo{
    background-color: rgb(102, 204, 102) ;
}

header > h2 {
    text-align: center;
    border: 2px solid black;
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

.container {
    display: flex;
    flex-wrap: row grap;
    column-gap: 70px;
    
    padding: 10px;
    margin: auto;
}

.pato {
    width: 100px;
}
.titulo{
    text-align: center;
    padding: 0 0 30px 0;
}

h2 {
    padding: 20px;
}

h3 {
    padding: 10px;
}

p{
    font-size:larger;
    padding: 0 35px ;
}


.lista > li {
    font-size: larger;    
    padding: 20px;
}


.jugador {
    padding: 40px;
}

.email{
    position: relative;
    top: 25px;
}